extends layout

block content
  #react-app
block footer-js
  //script(src='/javascripts/react-with-addons.js')
  //script(src='/javascripts/react-dom.js')
  //script(src='/javascripts/redux.js')
  //script(src='/javascripts/react-redux.js')
  //script(src='/javascripts/underscore-min.js')
  //script(src='/javascripts/qwest.min.js')
  != javascript('/javascripts/main.js')
