extends layout

block content
  #react-app
block footer-js
  script(src='/javascripts/react-with-addons.js')
  script(src='/javascripts/react-dom.js')
  //script(src='/javascripts/babel-browser-5-8-34.min.js')
  script(src='/javascripts/underscore-min.js')
  script(src='/javascripts/qwest.min.js')
  //script.
  //  window.app_state = {
  //    node_types: !{JSON.stringify(node_types)}
  //  }
  script(src='/javascripts/main.js')
